{{- if .Values.namespace.create -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ include "userGroupOperator.namespaceName" . }}
  labels:
    {{- include "userGroupOperator.labels" . | nindent 4 }}
{{- end -}}
